<nav class="p-4">
    <div class="row">
        <div class="col-4">
            {% if page == 'upload' %}
                <i class="fas fa-cloud-upload-alt" aria-hidden="true" style="font-size: xx-large"></i>
                Upload SDS
            {% elseif page == 'list' %}
                <i class="fas fa-book" aria-hidden="true" style="font-size: xx-large"></i>
                SDS Binder
            {% else %}
                <i class="fas fa-unknown" aria-hidden="true" style="font-size: xx-large"></i>
                Unknown
            {% endif %}
        </div>
        <div class="col-4">
            <a href="{{ path('index') }}">List</a>
        </div>
        <div class="col-4">
            <a href="{{ path('formSDS') }}">Create New SDS</a>
        </div>
    </div>
</nav>

