{% extends "base.html.twig" %}
{% block title %}Upload SDS{% endblock %}
{% block body %}
    {% include '_navbar.html.twig' with {'page': 'upload'} %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">
                {{ 'message.send'|trans }}
            </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

