{% extends "base.html.twig" %}
{% block title %}List SDS{% endblock %}
{% block body %}
    {% include '_navbar.html.twig' with {'page': 'list'} %}

    {% if SDSRepository | length == 0 %}
        <h2>{{ 'message.empty_search'|trans }}</h2>
    {% else %}
        <div class="table-responsive">
            <table width="100%" class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>{#<th>Title</th>#}
                    <th>Item # / SDS #</th>
                    <th>Manufacturer</th>
                    {#<th>File</th>#}
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for SDS in SDSRepository %}
                    <tr>
                        <td>{{ SDS.id }}</td>
                        <td>{{ SDS.title }}</td>
                        <td>{{ SDS.manufacturer }}</td>
                        <td>{{ SDS.itemNumber }}</td>
                        {#<td>{{ SDS.file }}</td>#}
                        <td>
                            <a href="{{ asset('PDFs/'~SDS.file) }}" download>
                                <i class="fas fa-download" aria-hidden="true"></i>
                            </a>
                            <a href="{{path('deleteSDS',{'id':SDS.id})}}" class="delete">
                                <i class="fas fa-times" aria-hidden="true"></i>
                            </a>
                            <a href="{{path('editSDS',{'id':SDS.id})}}">
                                <i class="fas fa-edit" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <hr class="my-4"/>
    <div class="navigation">
        {{ knp_pagination_render(SDSRepository) }}
    </div>


{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/list.js') }}"></script>
{% endblock %}


