{% extends "base.html.twig" %}
{% block title %}Not found{% endblock %}
{% block body %}
    <h1>Quick not found page</h1>
    <div class="card">
        <div class="card-body">
            Element not found
        </div>
        <a href="{{ path('index') }}">Index</a>
    </div>
{% endblock %}

